*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(76, 76, 76);
    color: rgb(0, 0, 0);
    font-family: sans-serif, Arial, Helvetica;
}
header{
   padding-bottom: 5%;
   text-align: center;
   padding-top: 5rem;
   color: aliceblue;

}
section{
    background-color: aliceblue;
    height: 300px;
    width: 500px;
    margin: auto;
    max-width: 720px;
    min-width: 360px;
    border-radius: 5px;
    
}
#horario{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

section {
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
footer{
    border: 3px solid black;
    border-radius: 4px;
    background-color: rgb(232, 73, 73);
    width: 140px;
    margin: auto;
    margin-top: 10px;

}
footer > a{
color: rgb(0, 0, 0);
text-align: center;
padding-left: 3px;
text-decoration: none;

}
